.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.link {
  text-decoration: none !important;
}

.app__joke {
  height: 100px;
}

.app__setDel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}